[submodule "riscv-gcc"]
	path = riscv-gcc
	url = ../../riscv/riscv-gcc.git
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = ../../riscv/riscv-glibc.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = ../../riscv/riscv-dejagnu.git
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = ../../riscv/riscv-newlib.git
[submodule "riscv-binutils-gdb"]
	path = riscv-binutils-gdb
	url = https://github.com/comododragon/riscv-binutils-gdb.git
